@model IEnumerable<tuan4_TranVanTri.Models.Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iSoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dThanhtien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.tensach)</td>
            <td> <img src="@item.hinh" width="180" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.masach }))
            {
                <td>@String.Format("{0:0,0}", item.giaban) VNĐ </td>
                <td> <input type="number" min="1" name="txtSoLg" value="@item.iSoluong" /></td>
                <td> @Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td>
                    <a href="@Url.Action("Detail","Sach", new {id =item.masach})">Chi tiet </a> | @Html.ActionLink("Xoa", "XoaGioHang",
new { @id = item.masach })
                </td>
                <td> <input type="submit" value="Cap nhat" class="btn btn-success" /></td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2">Số Loại Sách @ViewBag.Tongsoluongsanpham </td>
        <td colspan="2">Số lượng Sách @ViewBag.Tongsoluong  </td>
        <td colspan="4">Tổng Tiền @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
        <!--<link href="~/Content/PagedList.css" rel="stylesheet" />-->
    </tr>
    <tr style="font-synthesis-weight:auto; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "Dathang", "Giohang")

        </td>
    </tr>


    <!-- <td>
         @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
         @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
         @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
     </td>

     }
        -->

</table>
